<nav class="navbar d-flex flex-row">
  <div class="d-flex flex-row  container-fluid">
    <a class="navbar-text nav-link" href="/unit-converter/">
      <object data="/unit-converter/logo.svg" type="image/svg+xml" width="48pt" height="48pt"></object>
    </a>
    <a class="navbar-text nav-link fs-4 mx-2" href="/unit-converter/">
      Unit Converter
    </a>

    <a class="navbar-text nav-link ms-auto" href="/unit-converter/docs/">
      <i class="bi-question-circle"></i>
    </a>

    <div class="dropdown">
      <button class="btn dropdown-toggle mx-2" type="button" data-bs-toggle="dropdown">
        <span class="navbar-toggler-icon"></span>

      </button>
      <ul class="dropdown-menu dropdown-menu-end">
          <a href="/unit-converter/docs/" class="dropdown-item text-reset text-decoration-none">
            <i class="bi bi-file-earmark-text"></i>&nbsp;Documentation
          </a>
          <a href="/unit-converter/credits/" class="dropdown-item text-reset text-decoration-none">
            <i class="bi bi-people-fill"></i>&nbsp;Credits
          </a>
      </ul>
    </div>
  </div>
</nav>