@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  display: block;
}

.dropdown-menu {
  backdrop-filter: blur(20pt);
  background-color: rgba(0, 0, 0, 0);
  min-width: 0px;
}

.dropdown-item:hover {
  background-color: rgba(240, 240, 240, 0.7);
}

.uc-custom-dropdown-button {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  border: none;
  padding: 5pt;
}

.uc-custom-dropdown-button:hover, 
.uc-custom-dropdown-button.show, 
.uc-custom-dropdown-button:active, 
.uc-custom-dropdown-button:focus-visible, 
.uc-custom-dropdown-button.show:focus-visible, 
.uc-custom-dropdown-button.show:active {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 1.0);
}