<!DOCTYPE html>
<html lang="en">

<% const pathToRoot = "./" %>
<% const pathToNodeModules = "../" %>
<% const extraCSS = [] %>

<%- include("./partial/head.partial.html", {
  pathToRoot: pathToRoot, 
  pathToNodeModules: pathToNodeModules,
  extraCSS: extraCSS
}) %>

<body>
  <div class="root-container">
    <%- include("./partial/navbar.partial.html") %>
    <%- include("./partial/noscript.partial.html") %>
    <div id="root"></div>
  </div>
  <script type="module" src="/main.tsx"></script>
  
</body>

</html>